@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
    margin: 0;
    
}
body{
    position: relative;
    padding: 1rem 3rem;
}


/* ----------  NavBar -----------*/
.nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    font-family: 'Anton', sans-serif;
    /* background-color: gray; */

}
.logo{
    position: absolute;
    font-size: 20px;
    letter-spacing: 3px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoIcon{
    margin-right: 5px;
}

ul{
    position: absolute;
    right: 0;
    list-style: none;
}

.nav-items{
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}
.nav-item a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: #ffd500;
}
.nav-item:hover{
    border-bottom: 1px solid #ffd500;
}
/* ------burger-------- */
.burger{
    position: absolute;
    right: 0;
    z-index: 1;
    display: none;
    cursor: pointer;
}

.burger div{
    width:25px;
    height: 5px;
    color: white;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}




/* ------------ container -------------- */
.container{
    /* position: relative; */
    font-family: 'Anton', sans-serif;
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red  ; */
    
}
h1{
    font-size: 60px;
    line-height: 1.0;
    letter-spacing: 10px;
    font-weight: 100;
    z-index: 3;
}


h3{
    margin-top: 3vh;
    font-size: 25PX;
    letter-spacing: 5px;
    font-weight: 100;
    z-index: 3;
    /* mix-blend-mode: exclusion; */
}

.mainPhoto{
    position: fixed;
    right: 10vmin;
    width: 850px;
    height: 650px;
    justify-content: start;
    z-index: -1;
    mix-blend-mode: hard-light;
    
}
.bg-video{
    right: 10vmin;
    top:100px;
    position: fixed;
    width:850px;
    z-index: -2;
    opacity: 0.7;
    overflow: hidden;
}

.skills{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}
.skill{
    width: 330px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #FFD500;
    opacity: 0.7;
    transition: width 1s;
}
.skill1{
    width:95px;
    
}
.skill2{
    width:165px;
    
}
.skill3{
    width:230px;
    
}
.skill4{
    width:280px;
}


.skillText{
    /* border: 1px solid blue; */
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.sk{
    height: 50px;
    /* border: 1px solid blue; */
    font-weight: 100;
    letter-spacing: 0.3rem;
    font-size: 30px;
    padding-left: 75px;
    margin-bottom: 10px;
}






/* ------------- footer ------------- */
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
h5{
    padding: 5px;
}


/* ----------- RWD ------------- */
/* web */
@media screen and (max-width:1080px){
    .nav-items{
        width: 50vw;
}

/* ipad */
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-items{
        font-size: 16px;
        position: absolute;
        right: 0;
        height: 90vh;
        width: 100%;
        top: 8vh;
        z-index: 10;
        /* display: none; */
        background-color:gray;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
        
    }
    .nav-items li{
        opacity: 0;
    }

    .nav-item{
        color:white;
    }
    .burger{
        display: block;
    }
    .mainPhoto{
        position: fixed;
        left: 60px;
        width: 650px;
        height: 500px;
    }
    .bg-video{
        position: fixed;
        margin-top:150px;
        margin-right: 800px;
        width:550px;
        height:500px;
    }
    .skills,.skillText{
        display: none;
    }
    
}
/* iphone */
@media screen and (max-width:414px){
    body{
        padding: .5rem 1.5rem;
    }
    h1{
        font-size: 50px;
        color:red
    }
    .nav-items{
        font-size: 16px;
        position: absolute;
        right: 0;
        height: 95vh;
        width: 100%;
        top: 8vh;
        z-index: 10;
        /* display: none; */
        background-color:white;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
        
    }
    .nav-items li{
        opacity: 0;
    }

    .nav-item{
        color:white;
    }
    }
    .burger{
        display: block;
    }
    .mainPhoto{
        z-index: 2;
        top:120px;
        left:0px;
        width: 400px;
        height: 300px;
    }
    .bg-video{
        margin-top: -50px;
        right: 0px;
        width:500px;
        height:400px;
        /* z-index: 2; */
    }
    .skills,.skillText{
        display: none;
    }

}



/* ------- skill animation */
@keyframes skilljump{
    from{
        width: 0%;
    }
    to{
        width:95px;
    }
}


/* ------- burger animation */

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-8px,-10px);
}