@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 1px solid black  ;
    box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
    margin: 0;
    
}
body{
    position: relative;
    padding: 1rem 3rem;
}


/* ----------  NavBar -----------*/
.nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    font-family: 'Anton', sans-serif;
    /* background-color: gray; */

}
.logo{
    position: absolute;
    font-size: 20px;
    letter-spacing: 2px;
    left: 0;
}
ul{
    position: absolute;
    right: 0;
    list-style: none;
}

.nav-items{
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}
.nav-item a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: #ffd500;
}

/* ------burger-------- */
.burger{
    position: absolute;
    right: 0;
    z-index: 1;
    display: none;
    cursor: pointer;
}

.burger div{
    width:25px;
    height: 5px;
    color: white;
    background-color: black;
    margin: 5px;
}


/* ------------ container -------------- */
.container{
    
    font-family: 'Anton', sans-serif;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 60px;
    line-height: 1.0;
    letter-spacing: 10px;
    font-weight: 100;
}
h3{
    font-size: 25PX;
    letter-spacing: 5px;
    font-weight: 100;
}

/* ------------- footer ------------- */
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



/* ----------- RWD ------------- */
/* web */
@media screen and (max-width:1080px){
    .nav-items{
        width: 50vw;
}

/* ipad */
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-items{
        font-size: 16px;
        position: absolute;
        right: 0;
        height: 90vh;
        width: 100%;
        top: 8vh;
        background-color:gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
        
    }
    .nav-items li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
/* iphone */
@media screen and (max-width:414px){
    body{
        padding: .5rem 1.5rem;
    }
    .nav-items{
        display: none;
    }
    .burger{
        display: block;
    }
}



/* ------- burger animation */

.nav-active{
    transform: translateX(0%);
}